<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="layout">

    <head>
        <meta charset="utf-8">
        <meta http-equiv="x-ua-compatible" content="ie=edge">
        <title>Add Books</title>
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="css/reset.css">
        <link rel="stylesheet" href="css/container.css">
        <link rel="stylesheet" href="css/headerNew.css">
        <link rel="stylesheet" href="css/footerNew.css">
        <link rel="stylesheet" href="css/mainNew.css">
        <link rel="stylesheet" href="css/categories.css">
        <link rel="stylesheet" href="css/books.css">
        <!-- Bootstrap -->
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css" integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous">
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
        <!--  JQuery -->
        <link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
        <script src="https://code.jquery.com/jquery-1.12.4.js"></script>
        <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script> 
    </head>

    <body>
        <div class="books" layout:fragment="content">
            <div class="box-Principal-Book">
                <h3 class="h3-book"> Register of Books</h3>

                <div class="boxLoginBook">
                    <form action="#" th:action="@{/createBook}" th:object="${book}" method="post">

                        <div>
                            <label for="title"></label> 
                            <input type="text" th:field="*{title}" class="form-Book" id="name" placeholder="Title" />
                        </div>
                        <div>
                            <label for="authorName"></label> 
                            <input type="text" th:field="*{authorName}" class="form-Book" id="description" placeholder="Author Name" />
                        </div>
                        <div>
                            <label for="text"></label> 
                            <input type="text" th:field="*{text}" class="form-Book" id="description" placeholder="Text" />
                        </div>  

                        <div class="dropdown-books">
                            <select class="form-control form-control-lg" th:field="*{category}" >
                                <option value="" selected="selected">-- Select a Category --</option>
                                <option th:each="category : ${listCategory}" th:value="${category.id}" th:text="${category.name}" />
                            </select>
                        </div>

                        <div class="bt-subimit">
                            <input type="submit" class="btn btn-dark btn-lg" value=" Submit ">
                        </div>

                        <input type="hidden" id="id" th:field="*{id}">  
                    </form>
                </div>
            </div>
        </div>
    </body>

</html>