.h2-Books{
    size: 1.5em;
    color: #FFFFFF;
}
.box-Principal-Book{
    display: grid;
    justify-content: center;
    align-items: center;
}
.boxLoginBook{
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    border-top:solid .1em;
    border-bottom:solid .1em;
    border-color: #696969;
    height: 30em;
    width: 40em;
}
.h3-book{
    padding-top: 5em;
    padding-bottom: 1em;
    size: 1.5em;
    text-align: center;
    color: #FFFFFF;

}
.form-Book{
    height: 4em;
    width: 30em;
    margin-top: 1em;
    border-radius:5px;
    border:solid .1em;
    border-color: #696969;
    box-shadow: 2px 2px 2px 1px #696969;
    padding-left: 5%; 
    font-size: 1em;
}
.dropdown-books{
    padding-top: 2em;
}
.btn-Book{
    margin-top: 2em;
    margin-left: 5%;
}