.mainNew{

}
.wrapperMain{
    display: grid;
    grid-template-columns: 15% 85%;
    height: 90vh;
}
.boxMenu{
    grid-column-start: 1;
    grid-column-end: 1;
    background-color: #696969;
}
.boxContents{
    grid-column-start: 2;
    grid-column-end: 2;
    background-color: #BEBEBE;
}

.listMenu{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    padding-bottom: .5em;
    background-color: #696969;
}
.pMain{
    padding-right: 1rem;
    color: #FFFFFF;
    font-size: 1.2em;
    padding-top: 1em;
    padding-left: .5em;
}
.bookIconButton{
    height: 2em;
    width: 2em;
}
@media(max-width:800px){
    .wrapperMain{
        display: grid;
        grid-template-columns: 100%;
    }
    .boxMenu{
        grid-column-start: 1;
        grid-column-end: 1;
        grid-row-start: 1;
        grid-row-end: 1;   
        height: 3.5em;
    }

    .boxContents{
        grid-column-start: 1;
        grid-column-end: 1;
        grid-row-start: 2;
        grid-row-end: 2;
        height: 84vh;
    }
    .bookIconButton{
        opacity: 0;
        height: 0;
        width: 0;
    }
    .ul-main {
        list-style-type: none;
        margin: 0;
        padding: 0;
        overflow: hidden;       
        margin-left: 10em;
    }

    .li-main {
        float: left;
    }

    .li-main a {
        display: block;
        color: white;
        text-align: center;
        text-decoration: none;
        height: 3.5em;

    }

    .li-main a:hover {
        background-color: #111111;       
    }
    .pMain{
        padding-top: 0;
    }
}
