<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="layout">
    <head>
        <title>TODO supply a title</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">   
    </head>
    <body>
        <div class="categories container" layout:fragment="content">
            <h2 class="h2Categories">List of Books</h2>
            <table class="table table-striped table-bordered table-condensed table-hover">
                <thead>
                    <tr>
                        <th class="th">Id</th>
                        <th class="th">Name</th>
                        <th class="th">Description</th>
                    </tr>
                </thead>
                <tbody>
                    <tr th:each="category : ${categories}">
                        <td th:text="${category.id}">Id</td>
                        <td th:text="${category.name}">Name</td>
                        <td th:text="${category.description}">Description</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </body>
</html>
