<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
    <head>
        <meta charset="utf-8">
        <title>App BookStore</title>
        <!-- Css -->
        <link rel="stylesheet" href="css/reset.css">
        <link rel="stylesheet" href="css/container.css">
        <link rel="stylesheet" href="css/headerNew.css">
        <link rel="stylesheet" href="css/footerNew.css">
        <link rel="stylesheet" href="css/mainNew.css">
        <link rel="stylesheet" href="css/categories.css">
        <link rel="stylesheet" href="css/books.css">
        <!-- Bootstrap -->
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css" integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous">
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
        <!--  JQuery -->
        <link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
        <script src="https://code.jquery.com/jquery-1.12.4.js"></script>
        <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script> 
    </head>

    <header class="headerNew">
        <img class="bookIcon" src="img/book-icon.ico" 
             alt="book-Icon">
        <h1 class="h1Header">BOOKSTORE APPLICATION</h1>  
        <form class="form-inline my-2 my-lg-0 formLogout" form-method="post" th:action="@{/logout}">
            <button sec:authorize="isAuthenticated()" class="btn btn-outline-danger my-2 my-sm-0 btn-sm" type="submit">Logout</button>
            <button sec:authorize="isAnonymous()" th:href="@{~/login}" class="btn btn-outline-info my-2 my-sm-0 btn-sm" type="submit">Login</button>
        </form>
    </header>

    <body>
        <div>
            <div class="wrapperMain">
                <div class="Box boxMenu">                    
                    <ul class="ul-menu">
                        <li class="li-main">
                            <a class="listMenu" th:href="@{/}">
                                <img class="bookIconButton"src="img/home.png" alt="book-Icon"> 
                                <p class="pMain">Home</p></a>
                        </li>
                        <li class="li-main">
                            <a class="listMenu" th:href="@{/categories}" >
                                <img class="bookIconButton"src="img/category.png" alt="book-Icon">
                                <p class="pMain">Category</p></a>
                        </li>
                        <li class="li-main">
                            <a class="listMenu" th:href="@{/books}" >
                                <img class="bookIconButton"src="img/book.png" alt="book-Icon">
                                <p class="pMain">Books</p></a>
                        </li>
                    </ul> 

                </div>

                <div class="Box boxContents">
                    <div layout:fragment="content">content falso</div>
                </div>
            </div>
        </div>

    </body>

    <footer>
        <div class="footerNew">
            <ul>
                <li>  <a th:href="@{https://www.instagram.com/jonasmachado01/}">
                        <img class="icon-midias-sociais" src="img/instagram.png"> 
                    </a></li>
                <li>  <a th:href="@{https://www.linkedin.com/in/jonas-machado-2a29a741/}">
                        <img class="icon-midias-sociais" src="img/linkedin.png">
                    </a></li>
                <li> <a th:href="@{https://github.com/jonasmachados}">
                        <img class="icon-midias-sociais" src="img/git.png"> 
                    </a></li>
                <li><p class="pFooter">Developed by Jonas Machado</p> </li>



            </ul> 

        </div>
    </footer>
</html>
